<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description"
          content="Site de vente de produit healthy food sur commande" />
    <meta name="keywords"
          content="Healthy food, Tunisie, vente en ligne, vente healthy food en ligne, Beurre, Beurre de cacahuète, Beurre de sesame, Beurre de noisette, Beurre d'amandes, Beurre de cajou, Beurre de pistache, Beurre de noix, Cookies, Muffin, Brownies, Fondant, Boules d'energie, Energy, Granola, Granola bar, Sauce, Sauce pesto, tarte, Fonds de tartes" />
    <title>Light bakes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="header">
        <div class="container">
            @if (ViewBag.Home == true)
            {
                <a class="navbar-brand nav-link" href="#home"><img src="~/Content/images/logo/top-logo.png" alt="logo" /></a>
            }
            else
            {
                <a class="navbar-brand nav-link" href="/"><img src="~/Content/images/logo/top-logo.png" alt="logo" /></a>
            }
            <button class="navbar-toggler collapsed" type="button" aria-controls="basic-navbar-nav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @if (ViewBag.Home == true)
                        {
                            <a class="nav-link" href="#menu">Menu</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Menu">Menu</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="justify-content-end navbar-collapse collapse">
                <a class="nav-link" href="/basket">Mon panier &nbsp;<i class="fas fa-shopping-basket"></i></a>
            </div>
        </div>
    </nav>

    @RenderBody()

    @{Html.RenderAction("_FooterPartial"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <script src="~/Scripts/parallax.js"></script>
    <script src="~/Scripts/jquery.toast.min.js"></script>
    <!-- menu-filter.js -->
    <script>
        $(function () {
            $(".menu-filter").click(function () {
                $(".menu-filter").removeClass("menu-selected");
                $(this).addClass("menu-selected");
                var filter = $(this).attr("data-filter");
                if (filter == "all")
                    $(".item-product").css({ "display": "block" });
                else {
                    $(".item-product").css({ "display": "none" });
                    $(".item-" + filter).css({ "display": "block" });
                }
            });
        });
    </script>
    <!-- contact.js -->
    <script>
        $(function () {
            $("#submit-contact").click(function () {
                var name = $("#contact-name").val();
                var email = $("#contact-email").val();
                var tel = $("#contact-tel").val();
                var message = $("#contact-message").val();

                if (name === "") {
                    $.toast({
                        text: "Le champ 'Nom et prénom' est requis",
                        showHideTransition: 'plain',
                        hideAfter: 5000,
                        icon: 'error',
                        position: 'top-right',
                        loader: false,
                    });
                    return;
                }
                if (email === "") {
                    $.toast({
                        text: "Le champ 'Email' est requis",
                        showHideTransition: 'plain',
                        hideAfter: 5000,
                        icon: 'error',
                        position: 'top-right',
                        loader: false
                    });
                    return;
                }
                if (tel === "") {
                    $.toast({
                        text: "Le champ 'Num.Tél' est requis.",
                        showHideTransition: 'plain',
                        hideAfter: 5000,
                        icon: 'error',
                        position: 'top-right',
                        loader: false
                    });
                    return;
                }
                if (message === "") {
                    $.toast({
                        text: "Le champ 'Message' est requis.",
                        showHideTransition: 'plain',
                        hideAfter: 5000,
                        icon: 'error',
                        position: 'top-right',
                        loader: false
                    });
                    return;
                }

                var contactInfo = {
                    Name: name,
                    Email: email,
                    Tel: tel,
                    Message: message
                };

                $.ajax({
                    method: "POST",
                    data: { contact: JSON.stringify(contactInfo) },
                    url: "ctr/Email/Contact",
                    beforeSend: function () {
                        $("#submit-contact").attr("disabled", true);
                    }, success: function (data) {
                        if (data == "True") {
                            $.toast({
                                text: "Email envoyé avec succés.",
                                showHideTransition: 'plain',
                                hideAfter: 5000,
                                icon: 'success',
                                position: 'top-right',
                                loader: false
                            });
                            $("#contact-name").val("");
                            $("#contact-email").val("");
                            $("#contact-tel").val("");
                            $("#contact-message").val("");
                        } else {
                            $.toast({
                                text: "Une erreur s'est produite, veuillez réessayer.",
                                showHideTransition: 'plain',
                                hideAfter: 5000,
                                icon: 'error',
                                position: 'top-right',
                                loader: false
                            });
                        }
                        $("#submit-contact").attr("disabled", false);
                    }, error: function () {
                        $.toast({
                            text: "Une erreur s'est produite, veuillez réessayer.",
                            showHideTransition: 'plain',
                            hideAfter: 5000,
                            icon: 'error',
                            position: 'top-right',
                            loader: false
                        });
                        $("#submit-contact").attr("disabled", false);
                    }
                });

            });
        });
    </script>
</body>
</html>
