<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta name="theme-color" content="#000000" />
    <meta name="description"
          content="Site de vente de produit healthy food sur commande" />
    <meta name="keywords"
          content="Healthy food, Tunisie, vente en ligne, vente healthy food en ligne, Beurre, Beurre de cacahuète, Beurre de sesame, Beurre de noisette, Beurre d'amandes, Beurre de cajou, Beurre de pistache, Beurre de noix, Cookies, Muffin, Brownies, Fondant, Boules d'energie, Energy, Granola, Granola bar, Sauce, Sauce pesto, tarte, Fonds de tartes" />
    <title>Light bakes</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark fixed-top" id="header">
        <div class="container">
            @if (ViewBag.Home == true)
            {
                <a class="navbar-brand nav-link" href="#home"><img src="~/Content/images/logo/top-logo.png" alt="logo" /></a>
            }
            else
            {
                <a class="navbar-brand nav-link" href="/"><img src="~/Content/images/logo/top-logo.png" alt="logo" /></a>
            }
            <button class="navbar-toggler collapsed" type="button" aria-controls="basic-navbar-nav" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        @if (ViewBag.Home == true)
                        {
                            <a class="nav-link" href="#menu">Menu</a>
                        }
                        else
                        {
                            <a class="nav-link" href="/Menu">Menu</a>
                        }
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#contact">Contact</a>
                    </li>
                </ul>
            </div>

            <div class="justify-content-end navbar-collapse collapse">
                <a class="nav-link" href="/basket">Mon panier &nbsp;<i class="fas fa-shopping-basket"></i></a>
            </div>
        </div>
    </nav>

    @RenderBody()

    @{Html.RenderAction("_FooterPartial"); }

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @RenderSection("styles", required: false)
    <!-- parallax.js -->
    <script src="~/Scripts/parallax.min.js"></script>
    <!-- toast.js -->
    <script src="~/Scripts/jquery.toast.min.js"></script>
    <!-- menu-filter.js -->
    <script src="~/Scripts/menu-filter.min.js"></script>
    <!-- contact.js -->
    <script src="~/Scripts/contact.min.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-JX4ZFD5WG0"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag() { dataLayer.push(arguments); }
        gtag('js', new Date());

        gtag('config', 'G-JX4ZFD5WG0');
    </script>
</body>
</html>
