@model LightBakes.Models.Product[]

<div class="container">
    <div id="menu-text" class="justify-content-md-center row">
        <div class="col-sm-auto col-4"><span class="menu-filter menu-selected" data-filter="all">Tout</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="granola">Granola</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="muffin">Muffins</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="cookies">Cookies</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="energy">Energie</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="cream">Beurre</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="sauce">Sauce</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="syrup">Sirop</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="tarte">Tarte</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="cake">Cake</span></div>
        <div class="col-sm-auto col-4"><span class="menu-filter" data-filter="juice">Jus</span></div>
    </div>
</div>
<br />
<br />
<div class="container-fluid">
    <div class="row">
        @foreach (var product in Model)
        {
            <div class="col-lg-3 col-md-4 col-sm-6 item-product item-@product.Category.ToLower()">
                <a class="menu-item-link" href="/product/@product.Id">
                    <div class="menu-item">
                        <div class="img-area"><img src="~/Content/images/products/@product.Images[0]" alt="@product.Title" /></div>
                        <div style="text-align: center;">
                            <br />
                            <span class="text-bold">@product.Title</span> <br />
                            <span class="text-thin text-small">@product.Tags</span> <br />
                            <span class="text-bold text-italic">@product.UnityOptions[0].Price.ToString().Replace(".", ",") TND</span><span class="text-small"> (@product.UnityOptions[0].Unity)</span>
                        </div>
                    </div>
                </a>
            </div>
        }
    </div>
</div>
